body {
  margin: auto;
  width: 1440px;
  height: 1020px;
  display: flex;
  align-items: center;
}

#join {
  margin: auto;
  padding: 50px 60px;
  width: 625px;
  height: 770px;
  border-radius: 20px;
  box-shadow: 0 5px 10px -3px gray;
}

#join h3, h2 {
  margin-bottom: 10px;
}

#join p {
  color: #bdbdbd;
}

#join input {
  padding: 10px;
  margin-top: 30px;
  width: 600px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #f1f1f1;
}

#join_check {
  margin: 50px auto;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#join_check p {
  width: 80px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: 1px solid #000;
}

#join_check p:hover {
  cursor: pointer;
}

#create {
  color: #fff;
  background-color: #000;
}

#join_check .cancel {
  color: #000;
}

/* 회원가입 완료 */
#join_completion_box {
  width: 625px;
  height: 290px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #fff;
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
  display: none;
}

#join_completion_box h1 {
  margin: 30px 0 40px;
  text-align: center;
}

#join_completion_box p {
  margin: 30px 0 60px;
  text-align: center;
  font-size: 25px;
}

#join_completion_box .check {
  margin: auto;
  padding-top: 15px;
  width: 150px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}

#join_completion_box .check:hover {
  cursor: pointer;
}