body {
  margin: auto;
  width: 1440px;
  height: 1020px;
}

#login_page {
  margin: auto;
  width: 560px;
  height: 580px;
  border-radius: 20px;
  box-shadow: 0 5px 10px -3px gray;
}

#login_page h1 {
  padding: 130px 0 40px;
  font-size: 40px;
  text-align: center;
}

#login_page input {
  margin: 10px 0 10px 45px;
  padding: 10px;
  width: 450px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #f1f1f1;
}

#login_page_text p {
  margin: 10px auto;
  width: 470px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  border: 1px solid #000;
}

#login_page_text p:nth-child(1) {
  margin-top: 40px;
}

#login_page_text .login {
  color: #fff;
  background-color: #000;
}