body {
    margin: auto;
    width: 1440px;
    height: 1020px;
}



/* 헤더 */
header {
    width: 1440px;
    height: 150px;
}

/* 메가대학교 */
#header_h {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #f1f1f1;
}

#header_h h1 {
    float: left;
    margin: 15px 50px;
}

/* 로그아웃 */
#logout {
    float: right;
    margin: 15px 30px;
    border-radius: 5px;
    background-color: #000;
}

#logout p {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

/* 로그아웃 박스 */
#logout_box {
    width: 625px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #fff;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}

#logout_box .logout_box_text {
    margin: 40px;
}

#logout_box .logout_box_text h3, h2 {
    margin-bottom: 10px;
}

#logout_box .logout_box_text p {
    color: gray;
}

#logout_box .logout_box_check {
    margin: auto;
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#logout_box .logout_box_check a {
    width: 180px;
    height: 65px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
}

#logout_box .logout_box_check p {
    margin-top: 20px;
}

#logout_box .logout_box_check .ok {
    color: #fff;
    background-color: #000;
}



/* OOO님 안녕하세요! */
#header_b {
    width: 100%;
    height: 75px;
}

#header_b .header_in {
    margin: 20px 50px;
    font-size: 25px;
}



/* 메인 */
#main {
    width: 100%;
    height: 870px;
    background-color: #f8f8ff;
    box-shadow: 0 5px 10px -5px gray inset;
}

/* 프로필 박스 생성 */
#profile {
    padding-top: 50px;
    width: 100%;
    height: 215px;
}

/* 프로필 내부 */
#profile_in {
    margin: auto;
    width: 1300px;
    height: 215px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -3px gray;
}

#profile img {
    float: left;
    margin: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#profile_in .info {
    float: right;
    width: 1080px;
    height: 215px;
}

#profile_in .info .infoMain {
    float: left;
    width: 180px;
    height: 215px;
}

#profile_in .info .infoMain>li {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#profile_in .info .infoMain>li:nth-child(1) {
    margin-top: 35px;
    font-size: 25px;
    font-weight: bold;
}

#profile_in .info .infoMain>li span {
    padding: 15px 0 0;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}

#profile_in .info .infoTitle {
    margin-top: 40px;
    float: right;
    width: 900px;
    display: flex;
}

#profile_in .info .infoTitle>li {
    width: 150px;
    font-size: 18px;
    font-weight: bold;
}

#profile_in .info .infoTitle>li:last-child {
    width: 590px;
}

#profile_in .info .infoText {
    float: right;
    width: 900px;
    display: flex;
}

#profile_in .info .infoText>li {
    margin-top: 5px;
    width: 150px;
    font-size: 13px;
    color: gray;
    font-weight: bold;
}

#profile_in .info .infoText>li:last-child {
    width: 590px;
}



/* 아래 왼쪽 섹션 */
#section_l {
    float: left;
    width: 920px;
    height: 605px;
}

/* 수강 과목 박스 생성*/
#subject {
    float: right;
    margin-top: 50px;
    width: 840px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -3px gray;
}

/* 수강 과목 내부 */
#subject .subject_h {
    width: 840px;
    height: 100px;
}

#subject .subject_h h2 {
    float: left;
    margin: 30px 30px;
}

#subject .subject_h p {
    float: right;
    margin: 0 30px;
    font-size: 50px;
}

#subject .subject_h p:hover {
    cursor: pointer;
}

#subject .subject_b {
    margin: auto;
    width: 780px;
    height: 400px;
}

/* 수강 과목 리스트 */
#subject .subject_b ul {
    display: flex;
}

/* 과목명 */
#subject .subject_b li {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    width: 250px;
    height: 25px;
    text-align: center;
    border-bottom: 1px solid rgb(220, 220, 220);
}

/* 교수 */
#subject .subject_b li:nth-child(2) {
    width: 180px;
}

/* 학점 */
#subject .subject_b li:nth-child(3) {
    width: 80px;
}

/* 전공/교양 */
#subject .subject_b li:nth-child(4) {
    width: 170px;
}

/* 설정 */
#subject .subject_b li:last-child {
    width: 100px;
}



/* 아래 오른쪽 섹션 */
#section_r {
    float: right;
    width: 520px;
    height: 605px;
}

/* 이수 학점 박스 생성 */
#credit {
    margin: 50px 30px;
    width: 425px;
    height: 190px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -3px gray;
}

/* 이수 학점 내부 */
#credit .credit_h {
    width: 425px;
    height: 80px;
}

#credit .credit_h h2 {
    float: left;
    margin: 30px 30px 0;
}

/* 학점표 */
#credit .credit_b {
    margin: auto;
    width: 330px;
    height: 80px;
}

#credit .credit_b ul {
    float: left;
    display: flex;
    text-align: center;
}

#credit .credit_b li {
    width: 110px;
    height: 30px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(220, 220, 220);
}



/* 시간표 박스 생성 */
#timetable {
    margin: 50px 30px;
    width: 425px;
    height: 275px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -3px gray;
}

/* 시간표 내부 */
#timetable .timetable_h {
    width: 425px;
    height: 60px;
}

#timetable .timetable_h h2 {
    float: left;
    margin: 30px 30px 0;
}

/* 시간표 */
#timetable .timetable_b {
    margin: 20px auto;
    width: 350px;
    height: 160px;
}

/* 시간표 내부 */
#timetable .timetable_b ul {
    float: left;
    width: 360px;
    text-align: center;
    display: flex;
}

#timetable .timetable_b ul li {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60px;
}

#timetable .timetable_b ul li:last-child {
    margin-right: 0px;
}

#timetable .timetable_b ul li p {
    font-size: 14px;
    font-weight: bold;
}