body {
    width: 1440px;
    height: 1020px;
}



/* 헤더 */
header {
    width: 1440px;
    height: 150px;
    box-shadow: 0 5px 10px -8px #000;
}

#header_h {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #f1f1f1;
}

#header_h h1 {
    float: left;
    margin: 16px 48px;
}

#header_h .logout {
    float: right;
    margin: 17px 30px;
    border-radius: 5px;
    background-color: #000;
}

#header_h .logout p {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

#header_b {
    width: 100%;
    height: 75px;
}

#header_b .header_in {
    float: left;
    margin: 22px 48px;
}

#header_b span {
    line-height: 33px;
    font-size: 25px;
}



/* 메인 */
#main {
    width: 100%;
    height: 870px;
}

#profile {
    padding-top: 50px;
    width: 100%;
    height: 215px;
}

#profile_in {
    margin: auto;
    width: 1300px;
    height: 215px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -8px #000;
}

#profile img {
    float: left;
    margin: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

#profile_in .info {
    float: right;
    width: 1090px;
    height: 215px;
}

#profile_in .info .info_main {
    float: left;
    margin-top: 30px;
    width: 180px;
    height: 185px;
}

#profile_in .info .info_main h1 {
    display: inline;
}

#profile_in .info .info_main span {
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

#profile_in .info .info_main p {
    margin-top: 15px;
    font-size: 27px;
    font-weight: 800;
}

#profile_in .info .info_sub {
    float: left;
    margin-top: 30px;
    width: 150px;
    height: 185px;
}

#profile_in .info .info_sub h3 {
    font-size: 22px;
    margin-top: 10px
}

#profile_in .info .info_sub p {
    margin-top: 10px;
    color: gray;
    font-weight: bold;
}

#profile_in .info .info_sub:last-child {
    width: 350px;
}



/* 아래 왼쪽 섹션 */
#section_l {
    float: left;
    width: 920px;
    height: 605px;
}



/* 수강 과목 */
#subject {
    float: right;
    margin-top: 50px;
    width: 840px;
    height: 514px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -8px #000;
}



/* 아래 오른쪽 섹션 */
#section_r {
    float: right;
    width: 520px;
    height: 605px;
}

#credit {
    margin: 50px 30px;
    width: 425px;
    height: 190px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -8px #000;
}

#timetable {
    margin: 50px 30px;
    width: 424px;
    height: 275px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -8px #000;
}